<div class="card h-100">
    <img class="card-img-top" src="/images{{imageUrl}}" alt="property-image">
    <div class="card-body">
        <h5>{{headline}}, {{city}}, {{province}}</h5>
        <p>Sleeps {{numSleeps}} * {{numBedrooms}} BR * {{numBathrooms}} BA * {{pricePerNight}}$/night</p>
    </div>
</div>
    
