<div class="row form">
    <div class="col title">
        <h3>Welcome Back</h3>
        <p>Enter your email and password to log in</p>
    </div>
</div>
<div class="row form">
    <div class="col">
            <form method="post" action="/log-in">
                <div class="p-2 mt-3">
                    <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email" value="{{values.email}}">
                </div>
                {{#if validationMessages.email}}
                <h6><small>{{validationMessages.email}}</small></h6>
                {{/if}}
                <div class="p-2 mt-1">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="{{values.password}}">
                </div>
                {{#if validationMessages.password}}
                <h6><small>{{validationMessages.password}}</small></h6>
                {{/if}}
                {{#if validationMessages.auth}}
                <h6><small>{{validationMessages.auth}}</small></h6>
                {{/if}}
                <div class="form-check form-check-inline mt-3">
                    <input type="radio" class="form-check-input" name="role" id="customer" value="customer" checked>
                    <label class="form-check-label" for="customer">Customer</label>
                </div>
                <div class="form-check  form-check-inline mt-3">
                    <input type="radio" class="form-check-input" name="role" id="clerk" value="clerk">
                    <label class="form-check-label" for="clerk">Clerk</label>
                </div>
                <br>
                <button type="submit" class="btn m-3">Submit</button>
            </form>
    </div>
</div>
